/** 初始化 **/
* {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	overflow-y: scroll;
}

body {
	font-size: $fontDefault;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	color: #555;
	background: #fff;
}

td,
th,
caption {
	font-size: $fontDefault;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #555;

	&:hover {
		outline: 0;
		text-decoration: underline;
		color: #777;
	}
}

img {
	border: none;
	vertical-align: middle;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: $fontDefault "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

