@import './mixin';
@import './richwayui/richway-index';

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    font-size: $fontDefault;
    background-color: $bodyBg;
}


.richway-web-pc{

}

