$imgUrl: "./../images";
$fontUrl: "./../font";

$bodyBg: #fbfbfb;
$themePanelBg: #fff;
$themeColor: #e2000c;
$themeColorHover: #e2000c;
$themeColorBtnRight: #9e0008;
$inputH: 1.9rem;
$btnH: 1.9rem;
$themeColor-opacity: rgba(226, 0, 12, .5);
$greenColor: #2bb500;
$user-titlebg: #f2f2f2;
$hnaui-redColor: #e60012;
$hnaui-redbgColor: #fef3f3;
$bglogin: url("#{$imgUrl}/loginbg.jpg") center top no-repeat;

$orgColor: #f60;

$subColor: #333;
$yellowColor: #fac000;
$greenColor: #1ca905;
$darkthemColor: #9e0008;
$lightthemColor: #ed434c;
$border: #ececec;

//字体大小
$fontDefault: .7rem;

