<div class="site-panel-info">
    <div class="status-warp">
        <i class="richway-icon icon-close site-panel-close"></i>
        <div class="success">正常</div>
    </div>
    <div class="panel-content">
        <div class="site-name">黄阁南路南线Y069</div>
        <div class="site-data">(管网水位站) 暂无报送数据</div>
        <ul>
            <li>
                <span>水深</span>
                <span>无数据</span>
            </li>
            <li>
                <span>水位标高</span>
                <span>无数据</span>
            </li>
            <li>
                <span>流量</span>
                <span>--m<sup>3</sup>/s</span>
            </li>
            <li>
                <span>降雨量</span>
                <span>--mm</span>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="panel-footer-item">
            <i class="richway-icon icon-warn"></i>
            <span>预警信息</span>
        </div>
        <div class="panel-footer-item">
            <i class="richway-icon icon-warn"></i>
            <span>历史过程</span>
        </div>
        <div class="panel-footer-item">
            <i class="richway-icon icon-warn"></i>
            <span>测站信息</span>
        </div>
    </div>
</div>
